pip==20.0.2
setuptools==39.1.0
easydict==1.9
seaborn==0.9.0
opencv-python==4.2.0.32
requests==2.22.0
prettytable==0.7.2
numpy==1.19.1
tqdm==4.36.1
coloredlogs==10.0
scipy==1.1.0
setproctitle==1.1.10
matplotlib>=3.0.2
visdom==0.1.8.8
Cython==0.29.15
scikit-learn==0.22.2
scikit-image==0.15.0
natsort==7.0.1
tensorboardx==2.0
h5py==2.10.0
pypng==0.0.20
pyrender==0.1.36
ffmpeg-python>=0.2.0
munkres>=1.1.2
Pillow>=5.4
vidgear>=0.1.4
numba==0.51.2
progress==1.5
pyquaternion==0.9.5
PyOpenGL==3.1.0
pyglet==1.5.7
PyOpenGL-accelerate==3.1.0
glfw==2.0.0
pyyaml
six
ipython
terminaltables
eastdict==1.9